.merch-hero {
	margin-bottom: 4rem;
}
.merch {
	color: black;
	/* display: flex; */
	/* width: 100%; */
	/* contain: content;
	flex-wrap: wrap; */
	/*   color: #4c243b; */
}
.merch-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.merch .card {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	width: 300px;
	border-radius: 5px;
	/* we center with align-items and set same width with the img*/
	/* margin: 0 auto; */
	/* width: 30%; */
}

.merch .card{
	display: flex;
	justify-content: space-evenly;
	padding: 0px 10px;
	width: 300px;
}



button{
	width: 100%;
}
.merch-text h4{
	font-size: 1.4rem;
}
.merch-text p{
	font-size: 1.4rem;
}
.merch-text {
	font-size: 1.2rem;
	display: flex;
	justify-content: space-around;
	margin: 0px;
	width: 100%;
}
.merch img {
	width: 300px;
	height: 300px;
	align-items: center;
	background-color: #f4f1eb;
	border-radius: 15px;

}
/* .merch .card {
	margin: 0 auto;
} */

.merch button {
 color: var(--main-white);
  background-color: var(--main-bg);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.merch button:hover {
  opacity: 0.75;
  color: var(--main-orange);
}
/* media queries */
@media (min-width: 768px) {
	.merch-container  {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		/* gap for space in between cards, padding for lateral space */
		gap: 3rem;
		padding: 0 3rem;
	}
}
